body {
    background-image: url("../images/FOND.png");
}

.global {
    font-family: inter;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px auto 200px 100px auto;
    grid-template-areas: 
    "headGrid"
    "navGrid"
    "newsGrid"
    "partnerGrid"
    "footGrid";
    justify-content: center;
}

.altGlobal {
    font-family: inter;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px auto auto auto 180px auto;
    grid-template-areas: 
    "headGrid"
    "altNavGrid"
    "progGrid"
    "altNewsGrid"
    "altPartnerGrid"
    "footGrid";
    justify-content: center;
    text-align: center;
}

.inscGlobal {
    font-family: inter;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px auto auto 200px 100px auto;
    grid-template-areas: 
    "headGrid"
    "altNavGrid"
    "formGrid"
    "altNewsGrid"
    "altPartnerGrid"
    "footGrid";
    justify-content: center;
    text-align: center;
}

.header {
    grid-area: headGrid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headLogo {
    width: 100%;
    height: 100%;
    margin-top: 1vh;
}

.searchForm {
    display: flex;
    flex-direction: row;
}

#searchField {
    width: calc(100vw/3);
    height: 60%;
    margin-top: 3px;
}
.searchBar {
    display: flex;
    flex-direction: column;
    align-items:end;

}
.searchGlass {
    width: 30px;
    height: 30px;
}

.langBar {
    margin-right: 40px;
}
.navBar {
    grid-area: navGrid;
    margin-top: 2vh;
}

.altNavBar {
    margin: 2vh auto 0;   
    width: 100%;
    grid-area: altNavGrid;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.smLinkWindow {
        margin: 3px auto;
        display: block;
        height: 35px;
        line-height: 35px;
        width: 200px;
        border: 1px solid;
        border-radius: 10px;
}

.news {
    grid-area: newsGrid;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 100%;
}

.news * {
    margin: 0;
    text-decoration: none;
}

.news h4, .altNews h4 {
    margin-bottom: 15px;
}
.news span, .altNews span {
    background-color: black;
    color: white;
    padding: 6px;
    
    
}

.altNews {
    grid-area: altNewsGrid;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 100%;
}

.partners {
    grid-area: partnerGrid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.altPartners {
    grid-area: altPartnerGrid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partners img, .altPartners img {
    margin: 1vh 2vw;
    width: 18vw;
    height: 4vh;
}

.footer {
    grid-area: footGrid;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.formHolder {
    grid-area: formGrid;
}

#langButEN {
    background-image: url("../images/gb.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#langButFR {
    background-image: url("../images/fr.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#langButBE {
    background-image: url("../images/be.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.linkWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkSpan {
    font-family: Impact;
    font-weight: 100;
    width: 75%;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    margin: 1vh auto 0.5vh;
    color: black;
    padding: 5px;
}

.altLinkSpan {
    font-family: Impact;
    font-weight: 100;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 200px;
}

.linkSpan:hover, .altLinkSpan:hover {
    background-color: yellow;
}



.navImg {
    width: 250px;
    height: 150px;
}

.navBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.progHolder {
    grid-area: progGrid;
    padding-top: 2vh;    
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.limitOnSmall {
    width: 80%;
}



.schoolBody a {
    text-decoration: none;
}

.inscButton {
    color: white;
    background-color: black;
    width: 20%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 25px;
}


@media screen and (min-width: 800px) {

    .partners img {
        margin: 1vh 2vw;
        width: 9vw;
        height: 5vh;
    }

}

@media screen and (min-width: 1200px) {
    .altGlobal {
        grid-template-rows: 300px auto auto 250px 200px auto;
    }

    .global {
        grid-template-rows: 300px auto 250px 200px auto;
    }
    #searchField {
        width: calc(100vw/4);
    }
    .partners img {
        margin: 1vh 2vw;
        width: 7vw;
        height: 5vh;
    }
    
    .altNavBar {
        flex-direction: row;
    }
    .altPartners img {
        margin: 1vh 2vw;
        width: 9vw;
        height: 6vh;
    }
    .schoolBody {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: justify;
        margin-top: 5vh;
    }

    .innerSchool {
        width: 40%;
        margin-left: 3vw;
    }

    .limitOnSmall {
        width: 60%;
    }

    .inscGlobal {
        font-family: inter;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 300px auto auto 200px 100px auto;
        grid-template-areas: 
        "headGrid"
        "altNavGrid"
        "formGrid"
        "altNewsGrid"
        "altPartnerGrid"
        "footGrid";
        justify-content: center;
        text-align: center;
    }
    .formHolder {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 60%;
        margin: 0 auto;
    }

    .inscForm {
        width: 100%;
    }
    
    .formDiv {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .annoyingMe {
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .annoyingMeMore {
        margin-right: 50px;
    }

    .annoyingMe label {
        width: 50%;
    }

    .annoyingMe input {
        width: 99%;
    }

    .reallyAnnoyingMe {
        display: flex;
        flex-direction: row;
    }
    .formDiv label {
        width: 80%;
    }
    
    .formDiv input{
        margin-top: 5px;
        width: 100%;
        height: 40px;
        border: 2px solid black;
    }
    

}